$grid-gutters: (
    "10": 10px,
    "20": 20px,
    "30": 30px,
    "40": 40px,
    "50": 50px,
);

@each $breakpointName, $breakpointValue in $archie-breakpoints {
    @if $breakpointName !="" {
        @media(min-width: $breakpointValue) {
            @each $gutterName, $gutterSize in $grid-gutters {
                .#{$breakpointName}-grid-gutters-#{$gutterName} > * {
                    padding: $gutterSize;
                }
                .#{$breakpointName}-grid-gutters-x-#{$gutterName} > *{
                    padding-left: $gutterSize;
                    padding-right: $gutterSize;
                }
                .#{$breakpointName}-grid-gutters-y-#{$gutterName} > * {
                    padding-bottom: $gutterSize;
                    padding-top: $gutterSize;
                }
                .#{$breakpointName}-grid-gutters-x-#{$gutterName},
                .#{$breakpointName}-grid-gutters-y-#{$gutterName},
                .#{$breakpointName}-grid-gutters-#{$gutterName} {
                    margin-left: -$gutterSize;
                    margin-right: -$gutterSize;
                }
            }
        }
    } @else {
        @each $gutterName, $gutterSize in $grid-gutters {
            .grid-gutters-#{$gutterName} > * {
                padding: $gutterSize;
            }
            .grid-gutters-x-#{$gutterName} > *{
                padding-left: $gutterSize;
                padding-right: $gutterSize;
            }
            .grid-gutters-y-#{$gutterName} > * {
                padding-bottom: $gutterSize;
                padding-top: $gutterSize;
            }
            .grid-gutters-x-#{$gutterName},
            .grid-gutters-y-#{$gutterName},
            .grid-gutters-#{$gutterName} {
                margin-left: -$gutterSize;
                margin-right: -$gutterSize;
            }
        }
    }
}




